<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>User page</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/navbarBootstrap.css" th:href="@{/css/navbarBootstrap.css}">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="../static/css/user-page.css" th:href="@{/css/user-page.css}">
    <link rel="stylesheet" href="../static/css/scroll.css" th:href="@{/css/scroll.css}">
    <link rel="stylesheet" href="../static/css/navbar.css" th:href="@{/css/navbar.css}">

    <!--    //LIKE THUMBS UP-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--    //LIKE THUMBS UP-->

    <!--NAVBAR-->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--NAVBAR-->
</head>

<body class="scrollbar-morpheus-den">

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a href="post-page.html" th:href="@{/home}"><img src="https://images.cooltext.com/5345905.png" width="201" height="69" alt="G S M" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="post-page.html" th:href="@{/home}">
                    <i class="fa fa-home"></i>
                    Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" href="friends-page.html" th:href="@{/friends}">
                    <i class="fa fa-users">
                        <span class="badge badge-info"> <span
                                th:text="${logged.getReceivedFriendRequest().size()}"></span> </span>
                    </i>
                    Friends
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link " href="index.html" th:href="@{/logout}">
                    <i class="fa fa-power-off"></i>
                    </i>
                    Logout
                </a>
            </li>
        </ul>
        <ul id="admin-redirect" class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" href="admin.html" th:href="@{/admin}">
                    <i class="fa fa-lock">
                    </i>
                    Admin
                </a>
            </li>
        </ul>
        <div class="media-left pull-right "><a href="user-page.html" th:href="@{/user}"> <img
                class="rounded-circle thumbnail"
                th:src="'images/' + ${logged.picture}"
                width="70" height="70" alt="Profile Pic"></a></div>
        <div class="pull-right">
            <h6><span th:text="${logged.getFirstName()}"></span></h6></div>
    </div>
</nav>

<div id="user-role" style="display: none" th:text="${userRole}"></div>

<div id="demo" class="container">
    <div class="row">
        <div class="col-md-12 text-center ">
            <div class="panel panel-default">
                <div th:id="${user.id}" class="userprofile social user-profile">
                    <div class="userpic"><img th:src="'images/' + ${user.picture}" alt= "profile pic"
                                              class="userpicimg"></div>
                    <h3 class="username"><span th:text="${user.getFirstName()}"></span> <span
                            th:text="${user.getLastName()}"></span></h3>
                    <p><span th:text="${user.getCountry()}"></span></p>
                    <p><span id="username-field" th:text="${user.getLogin().getUsername()}"></span></p>
                </div>
                <div class="col-md-12 border-top border-bottom">
                    <ul class="nav nav-pills pull-left countlist" role="tablist">
                        <li role="presentation">
                            <h3><span th:text="${user.getSenderFriendList().size()}"></span><br>
                                <small>Friends</small></h3>
                        </li>
                        <li role="presentation">
                            <h3><span th:text="${user.getPosts().size()}"></span><br>
                                <small>Posts</small></h3>
                        </li>
                        <li role="presentation">
                            <h3><span th:text="${user.getLikes().size()}"></span><br>
                                <small>Total likes</small></h3>
                        </li>
                    </ul>
                    <div class="buttons-content">
                        <button class="btn btn-primary followbtn send-friendship">Add Friend</button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


        <!-- /.col-md-12 -->
        <div class="col-md-4 col-sm-12 pull-left">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="page-header small">Personal Description</h2>
                    <p class="page-subtitle small"><span
                            th:text="${user.description}"></span></p>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="page-header small">More information</h2>
                </div>
                <div class="col-md-12">
                    <ul class="list-group">
                        <li class="list-group-item"><span class="fa fa-male"></span> <span
                                th:text="${user.gender}"></span></li>
                        <li class="list-group-item"><span class="fa fa-institution"></span> <span
                                th:text="${user.country}"></span></li>
                        <li class="list-group-item"><span class="fa fa-user"></span> I'm on <span
                                th:text="${user.age}"></span> years old.</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="page-header small">Recently Connected</h2>
                    <p class="page-subtitle small">You have recemtly connected with <span
                            th:text="${user.getReceivedFriendRequest().size()}"></span> friends</p>
                </div>

                <div class="col-md-12">


                    <div class="memberblock">


                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>


        <!-- Status Upload  -->
        <div class="col-md-8 col-sm-12 pull-left posttimeline">

            <div id="post-conteiner">

            </div>
        </div>
    </div>
</div>

<script src="../static/js/user-page-other.js" th:src="@{/js/user-page-other.js}"></script>
<script src="../static/js/sent-friendship-userprofile.js" th:src="@{/js/sent-friendship-userprofile.js}"></script>
<script src="../static/js/hide-navbar-buttons.js" th:src="@{/js/hide-navbar-buttons.js}"></script>
</body>
</html>